/**
 * @Name: HW_10-1.css
 * @Description: 抽獎機前臺
 * @Author: 李瑞豪
 * @Update: 2019-10-17 16:37
 */

html,body {
  margin: 0;
  height:100%;
  display: flex;
  justify-content: center;
  background: url("../images/bg.png") no-repeat center;
}
main{
  margin: auto;
  width: 1000px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
}
.prize-box{
  width: 300px;
  height: 290px;
  /*border: 1px solid #f00;*/
  z-index: 1;
}
.prize-img{
  width: 40%;
  height: 30%;
  position: relative;
}
.welcome,.prize{
  display: none;
}
.welcome > p{
  text-align: center;
  font-weight: bold;
  margin-bottom: 0;
}
.welcome > p:last-child{
  font-style: italic;
  font-size: 0.9rem;
  margin-top: 0;
}
.prize > p{
  text-align: center;
  font-weight: bold;
  color: red;
}
footer{
  position: absolute;
  font-size: 1rem;
  bottom: 0;
  margin: 0 auto;
}
footer a{
  color: #555;
}
footer a:hover{
  color: #000;
}

/* jQuery UI */
.ui-widget-overlay{
  opacity:.12!important;
  filter:Alpha(Opacity=12)!important;
}
.ui-dialog-buttonset{
  float: none!important;
  text-align: center!important;
  margin-left: 10px!important; 
}
.ui-dialog-buttonset > button{
  margin-right: 0!important;
}
.ui-dialog .ui-dialog-title {
  width: 100%!important;
  text-align: center!important;
  color: red!important;
  font-size: 1.2rem!important;
}
