/**
 * @Name: main.css
 * @Description: 個人主頁
 * @Author: 李瑞豪
 * @Update: 2019-09-19 9:14
 */

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
::-webkit-scrollbar-thumb {
  background-color: #333;
  border-radius: 10px;
}
::-webkit-scrollbar-track {
  background-color: #444;
  border-radius: 10px;
}
body{
  background: #f7f8f9;
}
summary{
  outline:none;
}
blockquote{
  text-align: center;
}
p{
  margin: 0;
  padding: 0;
}
q{
  font-size:small;
  text-align: center;
}
address{
  font-size: 12px;
  position: absolute;
  bottom: 20px;
}
header{
  width: 700px;
  text-align: center;
  margin: 10px auto;
  display:flex;
  justify-content: center;
}
header .welcome-inner{
  height: 30px;
  width: 200px;
  line-height: 30px;
  font-size: 1em;
  white-space: nowrap;
  overflow: hidden;
  position: relative;
}
header .welcome-inner:first-child {
  color: #666;
}
header .welcome-inner:nth-child(2) {
  color: #000;
}
header .welcome-inner span{
  position: absolute;
  animation: marquee 8s linear infinite;
}
header .welcome-inner:first-child span{
  animation-delay: 4s;
  left: 100%;
}
@keyframes marquee {
  from{
    left: 100%;
  }  
  to {
    left: -100%;
  }
}

footer{
  font-size: 12px;
  width: 700px;
  text-align: center;
  margin: 10px auto;
}
main{
  position: relative;
  display: flex;
  flex-direction: row-reverse;
  margin: 0 auto 20px;
  width: 700px;
  height: 770px;
  border: 2px solid #ccc;
  border-radius: 5px;
  box-shadow: 10px 10px 5px #888;
}
aside{
  background: #4a4a4c;
  box-sizing: border-box;
  height: 770px;
  width: 300px;
  border-radius: 0 5px 5px 0;
  color: #fff;
  padding: 30px;
  overflow: auto;
  animation: close-aside 2.5s;
  z-index: 1;
}
.open-aside{
  transform-origin: left;
  transform: skewY(5deg) rotateY(135deg);
  transition: transform 2.5s;
}
.close-aside{
  transform-origin: left;
  transform: skewY(0deg) rotateY(0deg);
  transition: transform 2.5s;
}
@keyframes close-aside{
  from{
    transform: skewY(5deg) rotateY(135deg);
    transform-origin: left;
  }
  to{
    transform: skewY(0deg) rotateY(0deg);
    transform-origin: left;
  }
}

.avatar{
  width: 67px;
  height: 67px;
  float: right;
  transition: all 1s;
}
.avatar:hover{
  transform: rotate(360deg) scale(1.1);
  border-radius: 50%;
}
aside a{
  color: #fff;
  text-decoration:none;
}
aside a:hover{
  color: #000;
  text-decoration:underline;
}
section{
  background: #fff;
  box-sizing: border-box;
  height: 770px;
  width: calc(100% - 300px);
  border-radius: 5px 0 0 5px;
  padding: 30px;
  overflow: auto;
}
section a{
  color: #000;
  text-decoration:none;
}
section a:hover{
  color: #3b80f1;
  text-decoration:underline;
}
details ul{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
details ul li{
  font-size: 0.93em;
  height: 80px;
  width: 44%;
  padding: 1%;
  margin: 1%;
  position: relative;
  font-weight: bold;
}
@font-face{
  font-family: lrh-sign;
  src: url(../fonts/lrh-en.ttf)
}
.design{
  position: absolute;
  align-self: flex-end;
  display: flex;
  flex-direction: column;
  align-items: baseline;
  width: 300px;
  box-sizing: border-box;
  z-index: -2; 
  padding: 20px;
  background: url(../images/bg.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 0 70px;
}
.design p{
  font-size: 1.2rem;
  font-family: lrh-sign;
}
.design .name{
  font-size: 1.5rem;
}
.design  .run-times{
  font-size: 1.8rem;
  flex-basis: 350px;
}
