/**
 * @Name: prize_admin.css
 * @Description: 獎品列表
 * @Author: 李瑞豪
 * @Update: 2019-10-10 11:40
 */

main{
  box-shadow: 10px 10px 5px #888;
  width: 70%;
  margin: 20px auto;
  border-radius: 5px;
}
.operate{
  margin: 2px auto;
  height: 35px;
  border: 1px solid #000;
  box-sizing: border-box;
  width: 100%;
  background: #343A40;
}
.operate button{
  height: 33px;
  border: none;
  color: #fff;
  background: none;
  font-size: 1.2em;
  font-weight: bold;
  outline: none;
}
.operate button:hover{
  background: #666;
}
.reset-time,.add-name{
  float: right;
}
.sel-all{
  outline: none;
}
.prize-count{
  background: #fff!important;
  color: #343A40!important;
  width: 88px;
}
table{
  width: 100%;
  margin: auto;
  text-align: center;
  border-collapse: collapse;
}
tbody > tr:nth-child(odd){
  background: #deecec;
}
th,td{
  height: 35px;
}
table th:nth-child(2),table th:nth-child(3),table th:nth-child(4){
  width:23%;
}
tbody button{
  width: 100%;
  height: 33px;
  margin: 0;
  padding: 0px;
}

.add-data,.del-data,.revise-data,.reset-data{
  display: none;
}
.active{
  background: #fff!important;
  color: #343A40!important;
}
.active:hover{
  background: #ddd!important;
}
.selected{
  background-color: #FBAB7E!important;
  background-image: linear-gradient(242deg, #FBAB7E 0%, #F7CE68 100%)!important;
}
.revise-name{
  background: #EAEAEA;
  outline: none;
}
.del-name{
  background: #343A40;
  color: #fff;
  outline: none;
}
/* jquery ui */
.ui-widget-overlay{
  opacity:.12!important;
  filter:Alpha(Opacity=12)!important;
}
.ui-dialog-buttonset{
  float: none!important;
  text-align: center!important;
  margin-left: 10px!important; 
}
.ui-dialog-buttonset > button{
  margin-right: 0px!important;
}
.ui-dialog-buttonset > button:first-child{
  margin-right: 40px!important;
}